@{
    ViewData["Title"] = "Point Of Sale";
}
<body class="home-page">
    <img id="home-page-background" src="~/css/images/concessionstand.png" />
    <div class="text-center">
        <h1 class="home-page-header">Brittany's Totally Original<br /> Concession Stand </h1>
    </div>
</body>
