@{
    ViewData["Title"] = "Point Of Sale";
}

<body class="home-page">
<div class="text-center">
    <h1 class="display-4">Brittany's Totally Original<br /> Concession Stand </h1>
   
    

</div>
</body>
