

body {
   
}

    body.home-page {
        background-image: url("images/concessionstand.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(4px);
        min-height: 90vh;
    }

.display-4 {
    font-size: 4em;
    font-weight:bold;
    font-style: italic;
    color: blue;
    -webkit-text-stroke: 2px black;
}

    .total{
        font-weight:bold;
    }

    body.order-page{
        background-color:lightgoldenrodyellow;
    }

    .select{
        font-size:2em;
        color:darkblue;

    }

.receipt {
    font-size: 4em;
    -webkit-text-stroke: 2px white;
}
.summary{
    font-size:1em;
    color:darkblue;
}

.submit{
    background-color:blue;
    color:lightblue;
    font-size:1em;
}

#invoice-POS {
    box-shadow: 0 0 2in -0.50in rgba(0, 0, 0, 0.5);
    padding: 2mm;
    margin: 0 auto;
    width: 50mm;
    background: #FFF;
}
.orderid{
    font-size:.5em;
}

 h1{
    font-size: 1.5em;
    color: #222;
}

h2 {
    font-size: .9em;
}

h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

p {
    font-size: .7em;
    color: #666;
    line-height: 1.2em;
}

#top, #mid, #bot {
    border-bottom: 1px solid #EEE;
}

#top {
    min-height: 100px;
}

#mid {
    min-height: 80px;
}

#bot {
    min-height: 50px;
}

#top .logo {
    height: 60px;
    width: 60px;
    background: url(images/concessionstand.jpg) no-repeat;
    background-size: 60px 60px;
}


.info {
    display: block;
    margin-left: 0;
}

.title {
    float: right;
}

.title p {
        text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}


.tabletitle {
    font-size: .5em;
    background: #EEE;
}

.service {
    border-bottom: 1px solid #EEE;
}

.item {
    width: 24mm;
}

.itemtext {
    font-size: .5em;
}

#legalcopy {
    margin-top: 5mm;
}
