
#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(3px);   
}
#background2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 50%;
    width: 100%;
}

.display-4 {
    font-size: 4em;
    font-weight:bold;
    color: hsl(240, 60%, 60%);
    text-shadow: 2px 2px hsl(0, 0%, 0%);
}

body.receipt-page {
    background-color: hsl(45, 29%, 97%);
}

.select {
    font-size: 2em;
    color: hsl(240, 60%, 60%);
    font-weight:bold;
    text-shadow: 1px 1px hsl(0, 60%, 50%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.receiptpageheader {
    font-size: 4em;
    -webkit-text-stroke: 2px white;
}

.summary  {
    font-size: 1em;
    color: hsl(0, 0%, 0%);
    text-align: left;
    margin-right: 2em;
}
.order-summary-subtotal{
    text-align:center;
    font-weight:bold;
}

.submit {
    background-color: hsl(0, 0%,50%);
    color: hsl(48, 29%, 98%);
    font-size:1em;
    align-content: center;
    margin-top: 8px;
    margin-bottom:8px;

}

#invoice-POS {
    border: 2px solid #CCC;
    box-shadow: 5px 10px #DDD;
    padding: 2mm;
    margin: auto;
    width: 25%;
    background: #FFF;
}

.receiptorderid {
    font-size:.9em;
    text-align: left;
    font-weight: bold;
}

.receiptheader {
    font-size: 1em;
    text-align: center;
}

#top {
    min-height: 100px;
    border-bottom: 1px solid #EEE;
}

#mid {
    min-height: 80px;
    border-bottom: 1px solid #EEE;
}

#bot {
    min-height: 50px;
    border-bottom: 1px solid #EEE;
}

.logo {
    height: 60px;
    width: 60px;
    background: url(images/concessionstand.jpg) no-repeat;
    background-size: 60px 60px;
    margin-left: 35%;
}

.receiptcontactinfo {
    display: block;
    margin-left: 0;
    font-size: .8em;
    color: #666;
    line-height: 1.2em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.receiptcontainer {
    background: #EEE;
}

.itemlistcontainer {
    border-bottom: 1px solid #EEE;
}

.itemheader {
    width: 24mm;
    font-size: .8em;
    font-weight: bold;
}
.priceheader {
    font-size: .8em;
    font-weight: bold;
}

.itemlist {
    font-size: .8em;
}
.receipttotal {
    font-size: .8em;
    font-weight: bold;
    text-align: right;
    padding-right: .8em;
}

#message {
    margin-top: 5mm;
    font-size: .8em;
    font-weight: bold;
}

.imagebutton {
    object-fit:contain;
    width:100%;
    height:100%;
    max-width:8em;
    max-height:8em;
}

.item-button {
    background-color: hsl(45, 29%, 95%);
    border: none;
    outline: none;
    padding: 1em;
    box-shadow: #DDD 2px 2px;
    margin: .2em;
    height: 10em;
    width: 10em;
}

#control-panel {
    display: grid;
    width: 60%;
}

#main {
    margin-top: 110px;
    display: flex;
}
#order-summary{
    height:22em;
    overflow:scroll;
    width:40%;
}
.line-item{
    display:flex;
    justify-content: space-between;
}