@using ConcessionStandProject
@model Order;
@{
    ViewData["Title"] = "Point Of Sale";
}
<body class="receipt-page">
    <div id="receipt-POS">
        <div id="receipt-top">
          <div><img id="receipt-logo" src="~/css/images/concessionstand.png" /></div>
          <div><h2 class="receipt-header">Brittany's Totally Original <br />Concession Stand</h2></div>
        </div>

        <div id="receipt-mid">
           <div class="receipt-contact-info">
             <p>
               134340 Bangtan Sonyeondan Ave <br />
               concessionstandhelp@gmail.com <br />
               555-123-4567<br />
             </p>
             <p class="receipt-orderid"> OrderID:<br />@Model.Receipt.OrderId</p>
           </div>
        </div>

        <div id="receipt-bot">
           <div>
              <table id="receipt-table">
                 <tr class="receipt-container">
                   <td class="item-header"><p>Item</p></td>
                   <td class="price-header"> <p>Price</p></td>
                 </tr>
                 @foreach (var product in @Model.Products)
                 {
                   <tr class="item-list-container">
                     <td><p class="item-list">@product.Name </p></td> 
                     <td><p class="item-list">$@string.Format("{0:#.00}",product.Price)</p></td>               
                   </tr>
                 }
    
                 <tr class="receipt-container">
                   <td></td>
                   <td class="receipt-total"><br /><p>Total = $@string.Format("{0:#.00}", Model.Total)</p></td>
                 </tr>
              </table>
           </div>
           <div id="receipt-message">
                <p>Thank you for your business!</p>
    	   </div>
        </div> @*end receipt-bot*@
    </div> @*end receipt-POS*@
</body>