

@using ConcessionStandProject
@model Order

<h6>Order:<br /> @Model.OrderId</h6>
<ol class="summary">
    @foreach (var li in Model.Products)
    {
    <li>
        <div class="line-item">
        <span>@li.Name</span><span>&#36;@string.Format("{0:#.00}",li.Price)</span>
        </div>
    </li>
    }
</ol>
